<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406424172708-bhq8n7uon0pebqh5pe862np0mpq0uj9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406424172708-bhq8n7uon0pebqh5pe862np0mpq0uj9l</string>
	<key>API_KEY</key>
	<string>AIzaSyAICHmy9zBfhuZWBEhyp079Of4lJxI5tXA</string>
	<key>GCM_SENDER_ID</key>
	<string>406424172708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selahattinedin.toDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-e11d5</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-e11d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406424172708:ios:4b023ee9aaf0c7b345ce31</string>
</dict>
</plist>